// Base styles

html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}
body {
	display: flex;
	flex-direction: column;
	transition: background 500ms ease-in-out;
	background-color: #000; /* IE 8 */
}
//TODO: change background color for explorer
