// Illus
// $lilac: #aa96da;
// $mint: #c5fad5;
// $yellowy: #F3EFA1;
// $darkpurple: #4053a5;
// $lightpink: #f7c5cc;
$color-red: #cc313d;
// $pewter: #00A6C7;
$darkpink: #df678c;
// $color-purplo: #355070;
// $color-pink: #b56576;
// $color-imperial: #e56b6f;
$color-mint: #4aedc2;
$color-black: #1d1d1d;
$color-white: #ececec;
$linear-blue: 'linear-gradient(180deg, rgba(9,9,121,1) 0%, rgba(66,15,231,1) 35%, rgba(96,115,224,1) 100%)';
$linear-pink: 'linear-gradient(180deg,  #b313e4 0%, #e41352 35%, #e41389 100%)';
$linear-yellow: 'linear-gradient(180deg, rgb(245, 201, 26) 0%, rgb(229, 107, 111) 35%, rgb(255, 155, 25) 100%)';

//TODO: Find better and accesible colors
$color-yellow: rgb(245, 201, 26);
$color-pinky: #ab6b8f;
// // #FDD781
// // #6073E0
// // #420FE7
// // #FAFF19
// // #CC0052
// // #F1FF56
// // #FF9B19
// // #C8AFD1
// // #7FC1D8
// #F804BE
$color-what: #eb0253;
$color-pff: #eb0229;
// #A0FF1F
// #01DE6A
// background-color: #e5e5f7;
// opacity: 0.4;
// background-image:  linear-gradient(#444cf7 2px, transparent 2px), linear-gradient(to right, #444cf7 2px, #e5e5f7 2px);
// background-size: 40px 40px;
