// Illus
// $lilac: #aa96da;
// $mint: #c5fad5;
// $yellowy: #f2efa5;
// $darkpurple: #4053a5;
// $lightpink: #f7c5cc;
$color-red: #cc313d;
// $pewter: #14839c;
$darkpink: #df678c;
// $color-purplo: #355070;
// $color-pink: #b56576;
// $color-imperial: #e56b6f;
$color-mint: #82f3c0;
$color-black: #1d1d1d;
$color-white: #ececec;

//TODO: Find better and accesible colors
$color-yellow: #f5c91a;
$color-pinky: #ab6b8f;
