@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap');

@mixin text-light {
	font-family: $montserrat;
	font-weight: 400;
}
@mixin text-regular {
	font-family: $montserrat;
	font-weight: 500;
}
@mixin text-bold {
	font-family: $montserrat;
	font-weight: 700;
}
@mixin text-extraBold {
	font-family: $montserrat;
	font-weight: 900;
}
@mixin title-light {
	font-family: $playfair;
	font-weight: 300;
}
@mixin title-regular {
	font-family: $playfair;
	font-weight: 400;
}
@mixin title-bold {
	font-family: $playfair;
	font-weight: 600;
}

//Breakpoints
$bp-xxl: 1500px;
$bp-xl: 1200px;
$bp-l: 1024px;
$bp-m: 768px;
$bp-s: 425px;
$bp-xs: 325px;

// Tipografía
$playfair: 'Playfair Display', serif;
$montserrat: 'Montserrat', sans-serif;
