[id^='tooltip-'],
[id*=' tooltip-'] {
	position: absolute;
}

[id^='tooltip-']:hover::after,
[id*=' tooltip-']:hover::after {
	position: absolute;
	font-size: 0.6rem;
	transform: translateY(-130%) translateX(5%);
	padding: 0.4rem;
	color: #000000;
	font-family: sans-serif;
	font-weight: bold;
	background-color: #ccffcc;
	border-radius: 4px;
	z-index: 1;
	animation: showTool 2s 3s;
}

//TODO: change color tooltip and font
[id^='tooltip-css']:hover::after,
[id*=' tooltip-css']:hover::after {
	content: 'CSS';
}
[id^='tooltip-html']:hover::after,
[id*=' tooltip-html']:hover::after {
	content: 'HTML';
}

[id^='tooltip-js']:hover::after,
[id*=' tooltip-js']:hover::after {
	content: 'JavaScript';
}

[id^='tooltip-angular']:hover::after,
[id*=' tooltip-angular']:hover::after {
	content: 'Angular';
}

[id^='tooltip-sass']:hover::after,
[id*=' tooltip-sass']:hover::after {
	content: 'Sass';
}

[id^='tooltip-boot']:hover::after,
[id*=' tooltip-boot']:hover::after {
	content: 'Bootstrap';
}

[id^='tooltip-vue']:hover::after,
[id*=' tooltip-vue']:hover::after {
	content: 'Vue';
}

[id^='tooltip-gulp']:hover::after,
[id*=' tooltip-gulp']:hover::after {
	content: 'Gulp';
}

[id^='tooltip-react']:hover::after,
[id*=' tooltip-react']:hover::after {
	content: 'React';
}
