// Base styles

html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}
body {
	display: flex;
	flex-direction: column;
	transition: background 500ms ease-in-out;
	background-color: #000; /* IE 8 */
}
//TODO: change background color for explorer
//TODO: add gradient or some animation, maybe full gradient because it can interract with showing navbar and full height first frame
.header {
	// background-color: $color-purplo;
	color: $color-pink;
	min-height: 50vh;
	padding: 4rem 2rem;
	@media screen and (max-width: 768px) {
		min-height: auto;
		padding: 4rem 1rem 0rem 1rem;
	}
	&__title {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&--main {
			@include title-bold;
			font-size: 10rem;
			line-height: 8.5rem;
			// opacity: 0.8;
			text-align: right;
			@media screen and (max-width: 768px) {
				font-size: 2rem;
				line-height: 2rem;
			}
		}
		&--sub {
			@include title-regular;
			display: block;
			font-size: 3rem;
			// line-height: -3rem;
			text-align: right;
			// letter-spacing: 0.3rem;
			margin-top: 1rem;
			@media screen and (max-width: 768px) {
				font-size: 2rem;
				line-height: 2rem;
			}
		}
	}
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}
.skills {
	flex-wrap: wrap;

	.fab {
		position: relative;
		display: inline-block;
	}
}

.section:not(:last-of-type) {
	min-height: 80vh;
	margin: 0 auto;

	// padding: 4rem 0;

	&[data-bg='yellow'] {
		color: #333;
	}
	&[data-bg='#ef233c'] {
		color: $color-purplo;
	}

	// cambiar esto para que el color de la fuente se cambie a la ve que el fondo
	.fab {
		height: 4rem;
		width: 4rem;
		font-size: 3rem;
		margin: 1.3rem;
		transition: all 1s ease;
		//FIX: transition from top to bottom, why? and fix tooltip position
		&:hover {
			transform: scale(1.2);
			color: $lightpink;
		}

		// &.skills {
		// 	p {
		// 		font-size: 0.8rem;
		// 		line-height: 1.3rem;
		// 	}
		// }

		.frontend,
		.ui,
		.e-commerce {
			margin: 1.5rem 0;
		}
	}

	// &:nth-child(1) {
	// 	// background-color: $color-pink;
	// 	color: $color-purplo;
	// 	// transition: all 3s ease;
	// }
	// &:nth-child(2) {
	// 	// background-color: $color-purplo;
	// 	color: $color-pewter;
	// }
	// &:nth-child(3) {
	// 	background-color: $color-pewter;
	// 	color: $color-orange;
	// }
	// &:nth-child(4) {
	// 	background-color: $color-orange;
	// 	color: $color-blue-steel;
	// }
}
#about {
	.content {
		display: flex;
		flex-direction: row;
		@media screen and (max-width: $bp-m) {
			flex-direction: column;
		}
		.text {
			width: 60%;
			margin-right: 2rem;
			@media screen and (max-width: $bp-m) {
				width: 100%;
				margin-right: 0rem;
			}
		}
	}
}

footer {
	background-color: $color-purplo;
	color: $color-pink;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}

.icons-big {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 3rem;
	margin-bottom: 1rem;

	a {
		font-size: 2rem;
		width: 5rem;
		transition: all 1s ease;
		text-align: center;
		&:hover {
			font-size: 3rem;
			width: 5rem;
		}
	}
}

.copyright {
	@include title-regular;
	font-size: 0.8rem;
}
.profile-pic {
	img {
		border-radius: 50%;
		box-shadow: 3px 2px 15px 0px rgba(0, 0, 0, 0.54);
	}
}
