// REDS
$color-light: #f1f0a0;
$color-purply: #5252a8;
$color-purplo: #2b2d42;
$color-pink: #f9d3e0;
$color-grey: #00839f;
$color-imperial: #ef233c;
$color-pewter: #77a6b6;
$color-indian: #db5461;
$color-blue-steel: #bfd7ff;
$color-orange: #f55d3e;
